<div class="heading">
    fairs
 </div>
 <div class="">
    <div class="row px-3">
        <div class="col-md-4 border border-danger">
            <h3 class="text-capitalize">fairs</h3>
            <div class="cardInfo">
                <h6 class="title">
                    Cooming Soon !
                </h6>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <div>
                                    <span class="text-muted">Event Type :</span> In-person
                                </div>
                                <div>
                                    <span class="text-muted"> Date :</span> <span> oct 24 2022</span>
                                </div>
                            </div>
                            <div class="col-sm-5 text-right">
                                <div>
                                    <span class="text-muted">Schools :</span> <span> 0</span>
                                </div>
                                <div>
                                    <span class="text-muted">jobs :</span> <span> 0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 border border-danger"></div>
    </div>
 </div>



 <!-- <div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <p>Event Type : Virtual</p>
                <div>date : </div>
            </div>
            <div class="col-sm-6">
                <p>schools : 0</p>
            </div>
        </div>
    </div>
</div> -->
